* {
    box-sizing: border-box;
}

  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
	background: #2A2E30;
	display: flex;
    flex-direction: column;
    align-items: center;
	
}
html { font-size:100%; }
@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }
  
  @media screen and (max-width:600px) {
	.column {
	  width: 100%;
	}
  }

 

 #picure {
	left:24px;
	top:276px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	position: absolute;
	
}

/* index.html*/
.poster { 
	background-color:rgba(42.03515700995922, 45.73265500366688, 47.8125, 1);
	width:1200px;
	height:680px;
	position:relative;
	
}
.logo { 
	width:182px;
	height:182px;
	position:absolute;
	left:523px;
	top:232px;
    align-items: center;
}
.eclipse4 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:182px;
	height:182px;
	position:absolute;
}
.eclipse3 { 
	border-radius:500px;
	background-color:rgba(20.000000707805157, 20.000000707805157, 20.000000707805157, 1);
	width:150.37139892578125px;
	height:150.37139892578125px;
	position:absolute;
	left: 16px;
	top:16px;
}

.eclipse2 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.14000000059604645);
	width:112px;
	height:112px;
	position:absolute;
	left:35px;
	top:35px;
}
.eclipse5 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.14000000059604645);
	width:81px;
	height:81px;
	position:absolute;
	left:51px;
	top:51px;
}
.eclipse1 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.44999998807907104);
	width:9.639192581176758px;
	height:9.639192581176758px;
	position:absolute;
	left:64px;
	top:77px;
}
.wedding-mark { 
	color:rgba(255, 255, 255, 1);
	width:1075px;
	height:106px;
	position:absolute;
	left:77px;
	top:431px;
	font-family:"Noto Sans";
	text-align:center;
	font-size:50px;
	letter-spacing:10;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
/* End index.html */


/* stream.html*/

.container { 
position: relative;
width: 390px;
height: 844px;
background: #2A2E30;
}

.button-div, .button-div-pic { 
	background-color:rgba(255, 255, 255, 1);
	width:342px;
	height:70px;
	position:absolute;
	left:24px;
	top:745px;
	text-align: center;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}


.button-div-camera { 
	background-color:rgba(255, 255, 255, 1);
	width:342px;
	height:70px;
	position:absolute;
	left:24px;
	top:670px;
	text-align: center;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}


.button-div-text { 
	color:rgba(42.03515700995922, 45.73265500366688, 47.8125, 1);
	width:310px;
	height:22px;
	position:absolute;
	left:16px;
	top:24px;
	font-family:'Noto Sans';
	text-align:center;
	font-size:16px;
	letter-spacing:10; 
}

.stream-window { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:342px;
	height:310px;
	position:absolute;
	left:24px;
	top:276px;
	/* border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px; */
}

.picture-window { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:342px;
	height:310px;
	position:absolute;
	left:24px;
	top:276px;
	
}

video,canvas {
    object-fit: fill;
	max-width: 100%;
  
}

.stream-text { 
	color:rgba(255, 255, 255, 0.4000000059604645);
	width:310px;
	height:27px;
	position:absolute;
	left:16px;
	top:132px;
	font-family:'Noto Sans';
	text-align:center;
	font-size:20px;
	letter-spacing:10;
}

.button-div-gallery { 
	width:36px;
	height:36px;
	position:absolute;
	left:330px;
	top:24px;
}

.rec-1 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:26px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-4 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:26px;
	top:13px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-7 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:26px;
	top:26px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-2 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:13px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-5 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:13px;
	top:13px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-8 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:13px;
	top:26px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-3 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-6 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	top:13px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.rec-9 { 
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	top:26px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}

/*End stream.html*/

/*gallery.html*/

.e1_52 { 
	background-color:rgba(42.03515700995922, 45.73265500366688, 47.8125, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e1_59 { 
	width:42px;
	height:42px;
	position:absolute;
	left:324px;
	top:24px;
}
.e1_60 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_61 { 
	border-radius:500px;
	background-color:rgba(20.000000707805157, 20.000000707805157, 20.000000707805157, 1);
	width:34.70109176635742px;
	height:34.70109176635742px;
	position:absolute;
	left:3.6494367122650146px;
	top:3.64949631690979px;
}


.e1_62 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.14000000059604645);
	width:25.803377151489258px;
	height:25.803377151489258px;
	position:absolute;
	left:8.098201751708984px;
	top:8.098380088806152px;
}
.e1_63 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.14000000059604645);
	width:18.68520736694336px;
	height:18.68520736694336px;
	position:absolute;
	left:11.65726089477539px;
	top:11.65740966796875px;
}
.e1_64 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0.44999998807907104);
	width:2.2244296073913574px;
	height:2.2244296073913574px;
	position:absolute;
	left:14.737009048461914px;
	top:17.684232711791992px;
}


@import url('https://fonts.googleapis.com/css?family=Noto Sans');

* {
    box-sizing: border-box;
    font-family: Noto Sans;
}

body {
    background-color: #2A2E30;
}

.capturePageButton {
    background-color: #2A2E30;
    border: none;
    float: right;
}

#gallery {
    flex: 2 0 21%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    gap: 2em;
}

/* #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    gap: 2em;
} */

/* Deleteknapp  */
#gallery div {
    position: relative;
    
}

#gallery div button {
    position: absolute;
    top: 10px;
    right: 10px;
    
    border-radius: 55%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: lightslategray !important;
}

/* End gallery.html*/

